/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 août 2021, 19:50:42
    Author     : samuel
*/
    .label {
        width: 20%;
        padding: 4px;
    }

    .value {
        width: 80%;
        padding: 4px;
    }

    .grid {
        width: 100%;
    }

    .error {
        color: red;
    }

    .outputLabel {
        font-weight: bold;
    }

    .grid {
        width: 33%;
        padding: 4px;
    }

